<!-- Header -->
<div
  class="mx-auto bg-card flex flex-0 flex-col border-b px-6 py-2 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between"
>
  <div class="min-w-0 flex-1">
    <!-- Breadcrumbs -->
     @if(breadcrumbs.length > 0){

    <div class="flex flex-wrap items-center font-medium leading-5">
      <ng-container
        *ngFor="
          let breadcrumb of breadcrumbs;
          let i = index;
          let isFirst = first;
          let isLast = last
        "
      >
        @if(!isLast){<a routerLink="{{ breadcrumb.link }}" class="whitespace-nowrap text-primary-500">{{ breadcrumb.label }}</a>} 
        @else {<a  class="whitespace-nowrap text-secondary">{{ breadcrumb.label }}</a>}
        
        @if (!isLast) {<mat-icon class="text-secondary icon-size-4" [svgIcon]="'heroicons_mini:chevron-right'" ></mat-icon>}

      </ng-container>
    </div>
    }

    <!-- Title -->
    @if (showTitle){
    <div class="mt-2">
      <h2
        class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl"
      >
        {{ title }}
      </h2>
    </div>
    }
  </div>
</div>
