<mat-form-field [class]="class">
  <mat-label [class]="labelClass" *ngIf="label">{{ label }}</mat-label>

  <input
    #places
    google-places-autocomplete
    matInput
    [formControl]="control"
    (onAddressChange)="valueSelected.emit($event)" />

  <button
    [disabled]="!control.value"
    matTooltip="Clear Address"
    matSuffix
    mat-icon-button
    (click)="resetControl.emit(true); control.reset()">
    <mat-icon svgIcon="brisk_flat:cancel"></mat-icon>
  </button>

  <mat-hint *ngIf="hint" class="mx-2">{{ hint }}</mat-hint>

  <mat-error *ngIf="formControl?.errors">
    {{ errorMessage }}
  </mat-error>
</mat-form-field>

<!-- <mat-form-field
  *ngIf="gs.apiLoaded$ | async"
  class="brisk-mat-dense w-full">
  <mat-hint class="mx-2">Address</mat-hint>
  <mat-error
    *ngIf="base_form.get(['location', 'FormattedAddress']).errors">
    {{ errorMessage(base_form.get(['location']), 'FormattedAddress')
    }}
  </mat-error>
</mat-form-field> -->
