<!-- Loading bar -->
<gmtre-loading-bar></gmtre-loading-bar>

<!-- Navigation -->
<gmtre-vertical-navigation
[ngClass]="{
  'dark bg-gray-900': isDark,
  'bg-stone-50': !isDark
}"
  class="print:hidden"
  [mode]="isScreenSmall ? 'over' : 'side'"
  [name]="'mainNavigation'"
  [navigation]="navigation.default"
  [opened]="!isScreenSmall"
>
  <!-- Navigation header hook -->
  <ng-container gmtreVerticalNavigationContentHeader>
    <!-- Logo -->
    <div class="flex items-center h-16 px-6 pb-0">
      @if(isDark) {
      <!-- Dark version -->
      <div class="rounded-xl p-2 bg-white">
        <img class="w-24" [src]="logo?.full" alt="Logo image" />
        </div>

      } @else{
        <!-- Light version -->
        <img class="dark:hidden w-24" [src]="logo?.full" alt="Logo image" />
      }
    </div>
  </ng-container>
</gmtre-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">
  <!-- Header -->
  <div
    class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden"
  >
    <!-- Navigation toggle button -->
    <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
      <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
    </button>
    <!-- Components -->
    <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
      <!-- <languages></languages> -->

      <!-- Full Screen Feature -->
      @if (activeApp?.theme?.features?.fullscreen) {
      <gmtre-fullscreen class="hidden md:block"></gmtre-fullscreen>
      }

      <!-- Searchbar Feature -->
      @if (activeApp?.theme?.features?.searchbar) {
      <search [appearance]="'bar'"></search>
      }

      <!-- Apps Feature -->
      @if (activeApp?.theme?.features?.apps) {
      <apps></apps>
      }

      <!-- Messages Feature -->
      @if (activeApp?.theme?.features?.messages) {
      <messages></messages>
      }

      <!-- Shortcuts Feature -->
      <!-- <shortcuts></shortcuts> -->

      <!-- Notifications Feature -->
      @if (activeApp?.theme?.features?.notifications) {
      <notifications></notifications>
      }

      <!-- Quickchat Feature -->
      <ng-container *ngIf="activeApp?.theme?.features?.quickchat">
        <button class="lg:hidden" mat-icon-button (click)="quickChat.toggle()">
          <mat-icon
            [svgIcon]="'heroicons_outline:chat-bubble-left-right'"
          ></mat-icon>
        </button>
      </ng-container>

      <!-- User Feature -->
      @if (activeApp?.theme?.features?.user) {
      <user></user>
      }
    </div>
  </div>

  <!-- Content -->
  <div class="flex flex-col flex-auto">
    <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
    <router-outlet *ngIf="true"></router-outlet>
  </div>

  <!-- Footer -->
  @if (activeApp?.theme?.features?.footer) { <layout-footer></layout-footer> }

</div>

<!-- Quick chat -->
<ng-container *ngIf="activeApp?.theme?.features?.quickchat">
  <quick-chat #quickChat="quickChat"></quick-chat>
</ng-container>
