@defer (when user) {
<div class="flex flex-row justify-between items-center w-full">
  <div class="space-x-2 flex flex-row items-center">
    <span class="font-medium text-secondary text-sm">Giusseppe Theodoredis
      &copy; {{ currentYear }}</span>
  </div>

  <div class="flex flex-row">
    <div class="invisible">
      <gmtre-countdown
        #sessionTimer
        *ngIf="timeCheck(session?.credentials?.expiration) as remTime"
        (event)="countdownEvent($event)"
        [config]="{ leftTime: remTime }"></gmtre-countdown>
    </div>
    @if(is_debugger_active){
    <button
      mat-icon-button
      class="h-3"
      matTooltip="Show System Debugger"
      (click)="showDebuggerView()">
      <mat-icon class="icon-size-4" svgIcon="live_help"></mat-icon>
    </button>
    }
  </div>
</div>
}
