<section>
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md">
      @if(config.title){
      <h2
        class="mb-4 text-2xl tracking-tight font-extrabold text-gray-900">{{config.title}}</h2>
      }
      @if(config.subtitle){
      <p
        class="mb-8 font-light text-gray-500 sm:text-xl">{{config.subtitle}}</p>
      }
      <div
        class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
        @if(config.button_text){
        <button (click)="ButtonClicked.emit()" mat-flat-button
          color="primary">{{config.button_text}}</button>
        }
        @if(config.other_button_text){
        <button (click)="OtherButtonClicked.emit()" mat-flat-button
          color="accent">{{config.other_button_text}}</button>
        }
      </div>
    </div>
  </div>
</section>
