<div class="flex flex-row w-full justify-start items-start">
  @if(container._supportStore.getDeviceEnvironmentInfoData(); as data){
  <div class="minwpx-350 bg-white rounded-lg px-6 pb-4">
    <div class="flex justify-start items-center">
      <h4 class="text-lg font-bold">Device Environment</h4>
    </div>

    <!-- {{data|json}} -->
    <mat-accordion class="example-headers-align">
      @for (key of data|keys; track key; let index = $index) {
        @if(!['typename'].includes(key)) {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> {{key|removeUnderScore|titlecase}} </mat-panel-title>
            </mat-expansion-panel-header>
  
            
            <div class="mt-2 border-t pt-4">
              <div class="flex justify-between items-center">
                <h4 class="text-sm font-medium">Details</h4>
                <button
                  class="text-xs text-blue-500"
                  (click)="container.downloadData()"
                >
                  Download
                </button>
              </div>
              <div class="mt-2">
                @for (attr of (data[key]|keys); track attr) {
                <div class="text-sm flex flex-row justify-between">
                  <span class="font-medium mr-4">{{
                    attr | removeUnderScore | titlecase
                  }}</span>
                  <span matTooltip="{{ data[key][attr] }}">{{data[key][attr] | truncate : 40 : '...'}}</span>
                </div>
                }
              </div>
            </div>
          </mat-expansion-panel>
        }
      }
    </mat-accordion>
  </div>
  }
</div>
