@if(container.apps; as data){
<div
  class="max-w-sm w-72 bg-white rounded-lg px-6 pb-4"
>
  <div class="flex justify-start items-center">
    <h4 class="text-lg font-bold">Applications</h4>
  </div>

  <div class="flex flex-col">
    @for (app of data; track app) {
    <div class="col-span-1 flex rounded-md shadow-sm cursor-pointer" (click)="selectedApp=app">
      <div
        class="flex w-16 flex-shrink-0 items-center justify-center rounded-l-md bg-slate-100 text-sm font-medium text-white"
      >
        <mat-icon [svgIcon]="app.app_icon.name"></mat-icon>
      </div>
      <div
        class="flex flex-1 items-center justify-between truncate rounded-r-md border-b border-r border-t border-gray-200 bg-white"
      >
        <div class="flex-1 truncate px-4 py-2 text-sm">
          <a href="#" class="font-medium text-gray-900 hover:text-gray-600">{{
            app.app_name
          }}</a>
          <p class="text-gray-500">
            {{ (app.navigation_items | keys)?.length }} Routes
          </p>
        </div>
        <div class="flex-shrink-0 pr-2">
          <button
            type="button"
            class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-transparent bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            <span class="sr-only">Open options</span>
            <svg
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>

<div class="flex flex-col px-6">
  <div class="px-4 sm:px-0">
    <h3 class="text-base font-semibold leading-7 text-gray-900">
      {{ selectedApp.app_name }} Information
    </h3>
    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
      {{ selectedApp.description }}
    </p>
  </div>
  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      @for (key of selectedApp|keys; track key) {
      @if(!['app_name','description','command','theme','app_icon','navigation_items','quicklinks'].includes(key)){
      <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:px-0">
        <dt class="text-md font-medium leading-2 text-gray-900">
          {{ key | removeUnderScore | titlecase }}
        </dt>
        <dd class="text-sm flex text-gray-700 sm:col-span-2 sm:mt-0">
          @switch(selectedApp[key] | jsonDataType){
            @case ('string') {
              <p>{{ selectedApp[key] }}</p>
            }
            @case ('boolean') {
              <mat-icon
                class="h-5 w-5 text-green-500"
                [svgIcon]="selectedApp[key] ? 'check' : 'close'"
              ></mat-icon>
            }
            @case ('array') {
              @for (a1 of selectedApp[key]; track a1) {
                @switch (a1 | jsonDataType) {
                  @case ('string') {
                    <span class="mx-2 inline-flex items-center gap-x-1.5 rounded-md bg-gray-100 px-1.5 py-0.5 text-xs font-medium text-gray-600">
                      {{ a1 }}
                    </span>
                  }
                  @default{
                    <p>{{ arrV|jsonDataType }}</p>
                  }
                }
              }
            }
            
            @case ('object') {
              @for (key1 of selectedApp[key]|keys; track key1) {
                <p>{{ key1 }}</p>
              }
            }

            @default {
              <p>{{ selectedApp[key] | jsonDataType }}</p>
              <p>{{ selectedApp[key]|json }}</p>
            }
          }
        </dd>
      </div>
      } }
    </dl>
  </div>
</div>
}
