<mat-form-field [class]="class">
  <mat-label [class]="labelClass" *ngIf="label">{{ label }}</mat-label>

  <input
    matInput
    [formControl]="control"
    [min]="minDate$|async"
    [max]="maxDate$|async"
    [placeholder]="placeholder"
    [matDatepicker]="picker" />

  <ng-container
    *ngTemplateOutlet="suffixRef;"></ng-container>
  <button
    [disabled]="!!!control.value"
    (click)="control.reset()"
    mat-icon-button
    matSuffix
    matTooltip="Clear date">
    <mat-icon [svgIcon]="'brisk_flat:cancel'"></mat-icon>
  </button>

  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>

  <mat-datepicker #picker></mat-datepicker>

  <mat-hint *ngIf="hint" class="mx-2">{{ hint }}</mat-hint>

  <mat-error *ngIf="formControl?.errors">
    {{ errorMessage }}
  </mat-error>
</mat-form-field>
