<div class="flex flex-row w-full justify-start items-start">
  @if(container._supportStore.getNetworkInfoData(); as data){
  <div class="minwpx-350 bg-white rounded-lg px-6 pb-4">
    <div class="flex justify-start items-center">
      <h4 class="text-lg font-bold">Network Information</h4>
    </div>

    <div class="mt-2 border-t pt-4">
      <div class="flex justify-between items-center">
        <h4 class="text-sm font-medium">Details</h4>
        <button
          class="text-xs text-blue-500"
          (click)="container.downloadData()"
        >
          Download
        </button>
      </div>
      <div class="mt-2">
        @for (attr of (data|keys); track attr) {
        <div class="text-sm flex flex-row justify-between">
          <span class="font-medium mr-4">{{
            attr | removeUnderScore | titlecase
          }}</span>
          <span matTooltip="{{ data[attr] }}">{{
            data[attr] | truncate : 40 : '...'
          }}</span>
        </div>
        }
      </div>
    </div>
  </div>
  }
</div>
