
@font-face {
  font-family: 'CardLink Thin';
  src: url(/assets/fonts/NeueHassDisplayThin.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'CardLink Thin Italic';
  src: url(/assets/fonts/NeueHassDisplayThinItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: 'CardLink Roman';
  src: url(/assets/fonts/NeueHassDisplayRoman.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'CardLink Roman Italic';
  src: url(/assets/fonts/NeueHassDisplayRomanItalic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: 'CardLink Medium';
  src: url(/assets/fonts/NeueHassDisplayMedium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'CardLink Medium Italic';
  src: url(/assets/fonts/NeueHassDisplayMediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: 'CardLink Bold';
  src: url(/assets/fonts/NeueHassDisplayBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'CardLink Bold Italic';
  src: url(/assets/fonts/NeueHassDisplayBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: 'CardLink Black';
  src: url(/assets/fonts/NeueHassDisplayBlack.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'CardLink Black Italic';
  src: url(/assets/fonts/NeueHassDisplayBlackItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap
}

.cardlink-thin { font-family: "CardLink Thin"}
.cardlink-thin-italic { font-family: "CardLink Thin Italic"}
.cardlink-roman { font-family: "CardLink Roman"}
.cardlink-roman-italic { font-family: "CardLink Roman Italic"}
.cardlink-medium { font-family: "CardLink Medium"}
.cardlink-medium-italic { font-family: "CardLink Medium Italic"}
.cardlink-bold { font-family: "CardLink Bold"}
.cardlink-bold-italic { font-family: "CardLink Bold Italic"}
.cardlink-black { font-family: "CardLink Black"}
.cardlink-black-italic { font-family: "CardLink Black Italic"}

