<!-- Loading bar -->
<gmtre-loading-bar></gmtre-loading-bar>

<!-- Navigation -->
<gmtre-vertical-navigation
  class="bg-stone-50 print:hidden"
  [mode]="isScreenSmall ? 'over' : 'side'"
  [name]="'mainNavigation'"
  [navigation]="navigation.futuristic"
  [opened]="!isScreenSmall"
>
  <!-- Navigation header hook -->
  <ng-container gmtreVerticalNavigationHeader>
    <!-- Logo -->
    <div class="flex items-center h-16 px-6 pb-0">
      <img class="w-24" [src]="logo?.full" />
    </div>
  </ng-container>
  <!-- Navigation footer hook -->
  <ng-container gmtreVerticalNavigationFooter>
    <!-- User -->
    <div class="flex items-center w-full px-6 py-2 border-t">
      <!-- User Feature -->
      @if (activeApp?.theme?.features?.user) {
      <user></user>
      }
      <div class="flex flex-col w-full ml-2 overflow-hidden">
        <div
          class="w-full whitespace-nowrap text-ellipsis overflow-hidden leading-normal text-current opacity-80"
        >
          {{ user?.name }}
        </div>
        <div
          class="w-full mt-0.5 whitespace-nowrap text-sm text-ellipsis overflow-hidden leading-normal text-current opacity-50"
        >
        {{ user?.email }}
        </div>
      </div>
    </div>
  </ng-container>
</gmtre-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">
  <!-- Header -->
  <div
    class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden"
  >
    <!-- Navigation toggle button -->
    <button
      class="mr-2"
      mat-icon-button
      (click)="toggleNavigation('mainNavigation')"
    >
      <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
    </button>
    <!-- Components -->
    <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
      <!-- <languages></languages> -->

      <!-- Full Screen Feature -->
      @if (activeApp?.theme?.features?.fullscreen) {
      <gmtre-fullscreen class="hidden md:block"></gmtre-fullscreen>
      }

      <!-- Searchbar Feature -->
      @if (activeApp?.theme?.features?.searchbar) {
      <search [appearance]="'bar'"></search>
      }

      <!-- Apps Feature -->
      @if (activeApp?.theme?.features?.apps) {
      <apps></apps>
      }

      <!-- Messages Feature -->
      @if (activeApp?.theme?.features?.messages) {
      <messages></messages>
      }

      <!-- <shortcuts></shortcuts> -->

      <!-- Notifications Feature -->
      @if (activeApp?.theme?.features?.notifications) {
      <notifications></notifications>
      }

      <ng-container *ngIf="activeApp?.theme?.features?.quickchat">
        <button class="lg:hidden" mat-icon-button (click)="quickChat.toggle()">
          <mat-icon
            [svgIcon]="'heroicons_outline:chat-bubble-left-right'"
          ></mat-icon>
        </button>
      </ng-container>
    </div>
  </div>

  <!-- Content -->
  <div class="flex flex-col flex-auto">
    <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
    <router-outlet *ngIf="true"></router-outlet>
  </div>

  <!-- Footer -->
  @if (activeApp?.theme?.features?.footer) { <layout-footer></layout-footer> }
</div>

<!-- Quick chat -->
<ng-container *ngIf="activeApp?.theme?.features?.quickchat">
  <quick-chat #quickChat="quickChat"></quick-chat>
</ng-container>
