<!-- <mat-form-field [class]="class">
  <mat-label
    [ngClass]="{'text-gray-500': formControl.disabled}"
    [class]="labelClass" *ngIf="label">{{ label }}</mat-label>

  <mat-chip-grid #itemsList>
    <mat-chip *ngFor="let item of formControl.value" (removed)="remove(item)">
      {{ item }}
      <button *ngIf="!formControl.disabled" class="mb-1" matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      [disabled]="formControl.disabled"
      #itemInput
      [matChipInputFor]="itemsList"
      (matChipInputTokenEnd)="add(itemInput.value); itemInput.value = null" />
  </mat-chip-grid>

  <mat-hint *ngIf="hint" class="mx-2">{{ hint }}</mat-hint>

  <mat-error *ngIf="formControl?.errors">
    <ng-container
      *ngTemplateOutlet="
        errorRef;
        context: { $implicit: formControl, formControl: formControl }
      "></ng-container>
  </mat-error>
</mat-form-field> -->
