@switch (authLayout) {
  @case('classic'){ <ng-container *ngTemplateOutlet="TemplateClassic"></ng-container> }
  @case ('split_screen') { <ng-container *ngTemplateOutlet="TemplateSplitScreen"></ng-container> }
  <!--
  @case ('modern') { <h1>Showing modern</h1> }
  @case ('modern_reversed') { <h1>Showing modern_reversed</h1> }
  @case ('split_screen_reversed') { <h1>Showing split_screen_reversed</h1> }
  @case ('fullscreen') { <h1>Showing fullscreen</h1> }
  @case ('fullscreen_reversed') { <h1>Showing fullscreen_reversed</h1> }
  -->
}

<ng-template #TemplateClassic>
  <div class="flex min-w-0 flex-auto flex-col items-center sm:justify-center">
    <div
        class="w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow"
    >
        <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
        <ng-container *ngTemplateOutlet="TemplateStepHeader"></ng-container>

            <!-- Alert -->
            @if (showAlert) {
                <gmtre-alert
                    class="mt-8"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'"
                >
                    {{ alert.message }}
                </gmtre-alert>
            }

          <ng-container *ngTemplateOutlet="TemplateStepForm"></ng-container>


        </div>
    </div>
</div>

</ng-template>

<ng-template #TemplateSplitScreen>
  <div
    class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0"
  >
    <div
      class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
    >
      <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
        <ng-container *ngTemplateOutlet="TemplateStepHeader"></ng-container>

        <!-- Alert -->
        <gmtre-alert
          class="mt-8"
          *ngIf="showAlert"
          [appearance]="'outline'"
          [showIcon]="false"
          [type]="alert.type"
          [@shake]="alert.type === 'error'"
        >
          {{ alert.message }}
        </gmtre-alert>

        <ng-container *ngTemplateOutlet="TemplateStepForm"></ng-container>

      </div>
    </div>
    <div
      class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l"
    >
      <!-- Background - @formatter:off -->
      <ng-container
        *ngIf="
          authConfig?.background?.image;
          then ConfiguredBackground;
          else DefaultBackground
        "
      ></ng-container>

      <ng-template #ConfiguredBackground>
        <div
          class="w-full h-full absolute"
          [style]="
            'z-index: 1;background:' + authConfig?.background?.color
          "
        ></div>
        <div class="w-full h-full absolute">
          <img
            class="h-full cover_background"
            [src]="authConfig?.background?.image"
            alt=""
          />
        </div>
      </ng-template>

      <!-- Rings -->
      <ng-template #DefaultBackground>
        <svg
          class="absolute inset-0 pointer-events-none"
          viewBox="0 0 960 540"
          width="100%"
          height="100%"
          preserveAspectRatio="xMidYMax slice"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g
            class="text-gray-700 opacity-25"
            fill="none"
            stroke="currentColor"
            stroke-width="100"
          >
            <circle r="234" cx="196" cy="23"></circle>
            <circle r="234" cx="790" cy="491"></circle>
          </g>
        </svg>
        <!-- Dots -->
        <svg
          class="absolute -top-16 -right-16 text-gray-700"
          viewBox="0 0 220 192"
          width="220"
          height="192"
          fill="none"
        >
          <defs>
            <pattern
              id="837c3e70-6c3a-44e6-8854-cc48c737b659"
              x="0"
              y="0"
              width="20"
              height="20"
              patternUnits="userSpaceOnUse"
            >
              <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
            </pattern>
          </defs>
          <rect
            width="220"
            height="192"
            fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"
          ></rect>
        </svg>
      </ng-template>
      <!-- @formatter:on -->
      <!-- Content -->
      <div class="z-10 relative w-full max-w-2xl">
        <div class="text-7xl font-bold leading-none text-gray-100">
          <div>Welcome to</div>
          <div>{{ authConfig?.title }}</div>
        </div>

        <div
          class="mt-6 text-lg tracking-tight leading-6 text-white {{
            authConfig?.slogan?.class
          }}"
        >
          {{ authConfig?.slogan?.label }}
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #TemplateStepHeader>
  <!-- Logo -->
  <div class="w-24" [routerLink]="['/']">
    <img [src]="logo?.full" />
  </div>

  <!-- Title -->
  <div
  class="mt-8 text-4xl font-extrabold leading-tight tracking-tight"
  >
  Reset your password
</div>
<div class="mt-0.5 font-medium">
  Create a new password for your account
</div>

</ng-template>

<ng-template #TemplateStepForm>
  @if(confirmResetPasswordForm){

     <!-- Reset password form -->
     <form
     class="mt-8"
     [formGroup]="confirmResetPasswordForm"
     #confirmResetPasswordNgForm="ngForm"
 >

     <!-- Email field -->
     <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input
          id="email"
          matInput
          type="email"
          formControlName="username"
          #emailField
      />
      <mat-error> Email is required </mat-error>
    </mat-form-field>

     <!-- Confirmation Code field -->
     <mat-form-field class="w-full">
      <mat-label>Cormfirmation Code</mat-label>
      <input
          id="confirmationCode"
          matInput
          type="text"
          formControlName="confirmationCode"
          #confirmationCodeField
      />
      <mat-error> Confirmation Code is required </mat-error>
    </mat-form-field>

     <!-- Password field -->
     <mat-form-field class="w-full">
         <mat-label>Password</mat-label>
         <input
             id="password"
             matInput
             type="password"
             [formControlName]="'newPassword'"
             #passwordField
         />
         <button
             mat-icon-button
             type="button"
             (click)="
                 passwordField.type === 'password'
                     ? (passwordField.type = 'text')
                     : (passwordField.type = 'password')
             "
             matSuffix
         >
             @if (passwordField.type === 'password') {
                 <mat-icon
                     class="icon-size-5"
                     [svgIcon]="'heroicons_solid:eye'"
                 ></mat-icon>
             }
             @if (passwordField.type === 'text') {
                 <mat-icon
                     class="icon-size-5"
                     [svgIcon]="'heroicons_solid:eye-slash'"
                 ></mat-icon>
             }
         </button>
         <mat-error> Password is required </mat-error>
     </mat-form-field>

     @if((confirmResetPasswordForm.get('newPassword').touched || confirmResetPasswordForm.get('newPassword').dirty) && confirmResetPasswordForm.get('newPassword')?.value?.length > 0){
      <ng-container *ngTemplateOutlet="TemplatePasswordValidator"></ng-container>
    }

     <!-- Password confirm field -->
     <mat-form-field class="w-full">
         <mat-label>Password (Confirm)</mat-label>
         <input
             id="password-confirm"
             matInput
             type="password"
             [formControlName]="'newPasswordConfirm'"
             #passwordConfirmField
         />
         <button
             mat-icon-button
             type="button"
             (click)="
                 passwordConfirmField.type === 'password'
                     ? (passwordConfirmField.type = 'text')
                     : (passwordConfirmField.type = 'password')
             "
             matSuffix
         >
             @if (passwordConfirmField.type === 'password') {
                 <mat-icon
                     class="icon-size-5"
                     [svgIcon]="'heroicons_solid:eye'"
                 ></mat-icon>
             }
             @if (passwordConfirmField.type === 'text') {
                 <mat-icon
                     class="icon-size-5"
                     [svgIcon]="'heroicons_solid:eye-slash'"
                 ></mat-icon>
             }
         </button>
         @if (
             confirmResetPasswordForm
                 .get('newPasswordConfirm')
                 .hasError('required')
         ) {
             <mat-error>
                 Password confirmation is required
             </mat-error>
         }
         @if (
             confirmResetPasswordForm
                 .get('newPasswordConfirm')
                 .hasError('mustMatch')
         ) {
             <mat-error> Passwords must match </mat-error>
         }
     </mat-form-field>

     <!-- Submit button -->
     <button
         class="fuse-mat-button-large mt-3 w-full"
         mat-flat-button
         [color]="'primary'"
         [disabled]="confirmResetPasswordForm.disabled"
         (click)="confirmResetPassword()"
     >
         @if (!confirmResetPasswordForm.disabled) {
             <span> Reset your password </span>
         }
         @if (confirmResetPasswordForm.disabled) {
             <mat-progress-spinner
                 [diameter]="24"
                 [mode]="'indeterminate'"
             ></mat-progress-spinner>
         }
     </button>

     <!-- Form footer -->
     <div class="text-secondary mt-8 text-md font-medium">
         <span>Return to</span>
         <a
             class="ml-1 text-primary-500 hover:underline"
             [routerLink]="['/auth/sign-in']"
             >sign in
         </a>
     </div>
    </form>
  }

</ng-template>


<ng-template #TemplatePasswordValidator>

  @if(confirmResetPasswordForm?.get(['newPassword']).errors; as Errors){
    <div
      class="px-2 text-xs font-semibold"
      >
      <!-- *ngIf="newPasswordForm.pristine" -->
      <!-- <p
        *ngIf="Errors?.required as required"
        class="space-x-2 flex flex-row items-center justify-start"
      >
        <mat-icon
          class="icon-size-4"
          svgIcon="flat:error"
        ></mat-icon>
        <span>Password is required</span>
      </p> -->

      <!-- Minimum Length Required -->
      <p
        *ngIf="Errors?.minlength as error"
        class="space-x-2 flex flex-row items-center justify-start"
      >
        <mat-icon
          class="icon-size-4"
          svgIcon="flat:error"
        ></mat-icon>
        <span>Password must be at least {{ error?.requiredLength }} characters</span>
      </p>

      <!-- Special Character Required -->
      <p
        *ngIf="Errors?.missingSpecialCharacterValidation as error"
        class="space-x-2 flex flex-row items-center justify-start"
      >
        <mat-icon
          class="icon-size-4"
          svgIcon="flat:error"
        ></mat-icon>
        <span>{{ error?.message }}</span>
      </p>

      <!-- Upper Case Required -->
      <p
        *ngIf="Errors?.missingUpperCaseValidation as error"
        class="space-x-2 flex flex-row items-center justify-start"
      >
        <mat-icon
          class="icon-size-4"
          svgIcon="flat:error"
        ></mat-icon>
        <span>{{ error?.message }}</span>
      </p>

      <!-- Lower Case Required -->
      <p
        *ngIf="Errors?.missingLowerCaseValidation as error"
        class="space-x-2 flex flex-row items-center justify-start"
      >
        <mat-icon
          class="icon-size-4"
          svgIcon="flat:error"
        ></mat-icon>
        <span>{{ error?.message }}</span>
      </p>

      <!-- Lower Case Required -->
      <p
        *ngIf="Errors?.missingNumberValidation as error"
        class="space-x-2 flex flex-row items-center justify-start"
      >
        <mat-icon
          class="icon-size-4"
          svgIcon="flat:error"
        ></mat-icon>
        <span>{{ error?.message }}</span>
      </p>
    </div>
  }

</ng-template>
