<div class="flex flex-col h-full justify-between rounded-none px-6 py-8">

  <div
    [ngClass]="{'mt-10': is_small}"
    class="flex flex-col space-y-4 overflow-hidden">

    <!-- Header -->
    <div class="flex justify-between items-start space-x-8">
      <div class="flex flex-col">
        <span class="text-xl font-semibold">{{ title }}</span>
        <span class="text-sm text-secondary">{{subtitle}}</span>
        <span class="text-sm" *ngIf="steps > 1">
          Step {{ Step }} of {{ steps }}
        </span>
      </div>
      <div class="flex space-x-2">
        <button
          mat-icon-button
          type="button"
          (click)="closeForm.emit()">
          <mat-icon svgIcon="brisk_flat:cancel"></mat-icon>
        </button>
      </div>
    </div>

    <!-- Form Inputs -->
    <div
      [ngClass]="{
        'mhpx-650': !is_small,
        'fhm-225px': is_small
        }"
      class="flex flex-col flex-auto overflow-auto p-1">
      <div class="flex justify-center" *ngIf="!form">
        <mat-spinner></mat-spinner>
      </div>

      <ng-container *ngIf="form">
        <ng-container *ngTemplateOutlet="formContentRef"></ng-container>
      </ng-container>
    </div>
  </div>

  <!-- Buttons Bar -->
  <base-form-footer [hide_toolbar]="hide_toolbar"
    [is_small]="is_small"></base-form-footer>
</div>
