<mat-form-field class="quix-mat-dense w-full grow-0" [class]="class">
  <mat-label [class]="labelClass" *ngIf="label">{{ label }}</mat-label>

  <input
    matInput
    [formControl]="control"
    [matAutocomplete]="auto"
    [autocomplete]="'off'"
    (keydown)="onKeydown($event)"
    [placeholder]="placeholder" />

  <button
    *ngIf="control?.value"
    [disabled]="!control?.value"
    matTooltip="Clear Selection"
    matSuffix
    mat-icon-button
    (click)="selectItem(null, true)">
    <mat-icon svgIcon="heroicons_outline:x-mark"></mat-icon>
  </button>

  <mat-hint *ngIf="hint" class="mx-2">{{ hint }}</mat-hint>

  <mat-autocomplete
    class="max-h-64 sm:px-2 border-t rounded-b shadow-md"
    [disableRipple]="true"
    #auto="matAutocomplete">
    <mat-option
      class="py-0 px-6 text-md pointer-events-none text-secondary bg-transparent"
      *ngIf="control.value && dataSet && !dataSet.length">
      No results found!
    </mat-option>
    <mat-option
      *ngFor="let item of dataSet; let index = index"
      class="group relative m-1 py-0 px-6 text-md rounded-md hover:bg-gray-100 dark:hover:bg-hover"
      (click)="selectItem(item, true)">
      <ng-container
        *ngTemplateOutlet="
          templateRef;
          context: { $implicit: item, item: item, index: index }
        "></ng-container>
    </mat-option>
  </mat-autocomplete>

  <mat-error *ngIf="formControl?.errors">
    {{ errorMessage }}
  </mat-error>
</mat-form-field>
